<% include partials/header %>
<h1 class="home">My Movie Database</h1>

<form action="/results" method="GET" class="home_search form-group">
    <input type="text" name="keyword" placeholder="Search keyword" class="form-control home_search" autofocus>
    <!--<input type="submit" value="Search">-->
</form>
<% include partials/footer %>